* {
  padding: 0;
  margin: 0;
}

nav {
  color: #fff;
  display: flex;
  /* height: 100px; */
  background-color: #1e1e1f;
  align-items: center;
  justify-content: space-between;
}
.navbar-links {
  flex: 1;
}
.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

.navbar-links li {
  list-style: none;
}

.nav-route {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
  border-radius: px;
}

.dropdown {
  /* display: flex;
  flex-direction: column; */
  position: relative;
}

.dropdown:hover ul {
  visibility: visible;
  opacity: 1;
}

.dropdown ul {
  position: absolute;
  z-index: 1;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
  background-color: #000000dc;
  border-radius: 5px;
  left: -10px;
  padding: 25px;
  width: max-content;
  opacity: 0;
  transition: opacity 100ms linear;
}

.dropdown ul li a {
  text-decoration: none;
  color: #e5e5ee;
  opacity: 1;
  font-weight: bold;
  transition: backgroundcolor 200ms ease-in-out;
  padding: 2px;
}
.dropdown ul li:hover a {
  background-color: #e5e5ee;
  color: #000000;
  border-radius: 2px;
}
.dropdown ul li a {
  text-decoration: none;
}

.logo {
  height: 50px;
  margin-left: 50px;
  background-color: #e5e5ee;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.search {
  margin-right: 50px;
  height: 50px;
}
.img-hero {
  height: 850px;
  object-fit: contain;
}
.hero-container {
  margin: 0 400px 0 50px;
}
body,
html {
  background-color: #000000;
  height: 100%;
}
.background {
  background-color: black;
  position: relative;

  /* height: 900px; */
}
/* .carousel {
  height: 800px;
} */
.control-arrow {
  height: 100%;
  width: 100px;
}
.control-arrow:hover {
  background-color: rgba(0, 0, 0, 0.781);
}
.arrow-right::before,
.arrow-left::before {
  margin: 0 5px;
  display: inline-block;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  content: "";
}
.arrow-left::before {
  border-right: 8px solid #fff;
}
.arrow-right::before {
  border-left: 8px solid #fff;
}
.arrow-right,
.arrow-left {
  top: 0;
  color: #000000;
  font-size: 26px;
  bottom: 0;
  margin-top: 0;
  padding: 5px;

  transition: all 0.25s ease-in;
  opacity: 1;
  filter: alpha(opacity=40);
  position: absolute;
  z-index: 2;
  background: none;
  border: 0;
  font-size: 32px;
  cursor: pointer;
  outline: 0;
  background: none;
  font-size: 18px;
  height: 100%;
  width: 100px;
}
.arrow-right {
  right: 0;
}
.arrow-left {
  left: 0;
}
.arrow-left:hover,
.arrow-right:hover {
  background: rgba(0, 0, 0, 0.8);
}
.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  row-gap: 0px;
  padding: 30px;
  justify-content: center;
  transition: 0.1s;
}

@media (min-width: 40rem) {
  .img-wrapper {
    width: 20%;
  }
}

@media (min-width: 56rem) {
  .img-wrapper {
    width: 14%;
  }
}

.row {
  background-color: rgb(30, 30, 31);
}

.title {
  padding: 50px;
  font-size: 40px;

  color: whitesmoke;
  border-top: 1px solid rgba(245, 245, 245, 0.185);
}
footer > img {
  height: 30px;
  width: 30px;
}
footer {
  background-color: rgba(30, 30, 31, 0.781);
  padding: 50px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}

.poster-item {
  max-width: 100%;
  border-radius: 20px;
}

button {
  height: 50px;
}

.img-wrapper {
  position: relative;
  width: 300px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s, visibility 1s, 0.1s;
}
.image {
  width: 270px;
  border-radius: 20px;
  height: 405px;
  transition: 0.1s;
}
.overview {
  position: absolute;
  /* top: 0;
  bottom: 0;
  right: 0;
  left: 0; */
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: rgb(196, 196, 216);
  visibility: hidden;
  opacity: 0;
  border-radius: 20px;
  width: 270px;
  height: 405px;

  transition: opacity 0.1s, visibility 2s,
    cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1s;
}

.hero-info {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.6992997882746849) 82%,
    rgba(0, 0, 0, 0) 100%
  );
  width: 30%;
  color: rgb(196, 196, 216);
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-left: 70px;
  padding-right: 50px;
  gap: 20px;
}
.hero-title {
  font-size: 50px;
  text-align: left;
}
.hero-type {
  font-size: 25px;
}
.hero-overview {
  font-size: 20px;
  text-align: left;
}
.background {
  z-index: 1;
  visibility: visible;
}

.img-wrapper:hover .overview {
  visibility: visible;
  opacity: 0.9;
  z-index: 1;
}

.img-wrapper:hover .image {
  width: 300px;
  height: 450px;
}
.img-wrapper:hover .img-wrapper {
  width: 300px;
  height: 450px;
}
.img-wrapper:hover .overview {
  width: 300px;
  height: 450px;
}
.overview {
  display: flex;
  flex-direction: column;
  gap: 3%;
}

.card-title {
  margin: 20px 0 0 10px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
}

.info-movie {
  display: flex;
  gap: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.genre {
  border-right: 1px solid white;
  border-left: 1px solid white;
  padding-right: 15px;
  padding-left: 15px;
}

.info-movie > span {
  margin: auto;
}
/* body::-webkit-scrollbar {
  display: none;
}
html {
  scrollbar-width: none;
} */
.text-overview::-webkit-scrollbar {
  /* display: none; */
  width: 0px !important;
}

.text-overview {
  color: #d6d1e0;
  font-size: 18px;
  overflow: scroll;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgba(255, 255, 255, 0.062);
  padding: 20px;
  height: 100%;
  width: 260px;
  height: 278px;
  scrollbar-width: none;
}

.genre {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.genre > span {
  text-align: center;
}

#root {
  display: flex;
  flex-direction: column;
}

.genre-select-container ul {
  color: #000000;
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  padding: 20px;
  background-color: #d6d1e0;
  font-weight: bold;
}
.genre-select-container ul li {
  transition: color 100ms;
}

.genre-select-container ul li:hover {
  color: #3e3e46;
  cursor: pointer;
}

button {
  text-decoration: none;
}

#error-page {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10%;
  background-color: #d6d1e0;
}
#root {
  height: 100%;
}

.search-container {
  width: 200px;
  margin-inline: 1.5rem;
  display: grid;
  place-items: center;
}

.search-form {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #d6d1e0;
  box-shadow: 0 4px 24px hsla(222, 68%, 12%, 0.1);
  border-radius: 2rem;
  padding: 8px;
  overflow: hidden;
  transition: width 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.search-input {
  background-color: #d6d1e0;
  border: none;
  outline: none;
  width: calc(100% - 64px);
  /* height: 100%; */
  border-radius: 4rem;
  padding-left: 14px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1.5s;
  height: 100%;
  font-weight: 500;
  font-size: 20px;
}

.btn-search {
  width: 35px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.search-icon,
.search-close {
  font-size: 1.5rem;
  position: absolute;
}

.btn-search img {
  width: 30px;
  height: 30px;
}

.show-search {
  width: 100%;
}
.show-search .search-input {
  opacity: 1;
  pointer-events: initial;
}
.no-result {
  color: #d6d1e0;
  padding: 100px;
}

.btn-more {
  width: 100px;
  background-color: #17171827;
  border-radius: 50%;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main > div,
nav,
footer {
  width: 100%;
}
